@model MVCwithPagination.Models.MasterModel

@{
    ViewBag.Title = "Student Details";
    var pageSize = (int)Model.Paging.PageSize;
    var pageNumber = (int)Model.Paging.PageNumber;
}
}


<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Students.First().Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.First().Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.First().LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.First().LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.First().FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.First().FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.First().EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.First().EnrollmentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Students.First().Id }) |

    @Html.ActionLink("Back to List", "Paging", new { pageSize = pageSize, pageNumber = pageNumber }, null)

</p>